* {
	box-sizing: border-box;
}

body {
    font-family: 'Syne Mono';
    font-weight: 500;
    background-color: black;
    cursor: crosshair;
    padding-left: 20px;
    padding-right: 20px;
    color: #59EA56;
};

.marquee-title {
    position: relative;
}

.marquee-track {
    position: relative;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
    color:  #e829fa;
    font-size: 92px;
    font-style: italic;
    width: 100vw !important;
    max-width: 100% !important;
}

.grid-container {
    min-height: 100vh;
    display: flex;
}

.left-screen {
    width: 50%;
}

.right-screen {
    width: 50%;
}

.text-init {
    font-size: 36px;
    color: white;
}

.image-full-screen {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
}

#ascii {
    width: 500px !important;
    height: 500px !important;
    padding-bottom: 10px;
}

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  