* {
	box-sizing: border-box;
}

@font-face {
    font-family: 'Syne-Mono';
    src: url(../assets/SyneMono-Regular.ttf);
    font-weight: normal; 
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 500;
    background-color: white;
    cursor: crosshair;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
};


.title-marquee {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    left: 50%;
    transform: translate(-50%, 50%);
    overflow: hidden;
    grid-area: title;
}

.text-marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}

.text-marquee span {
    display: inline-block;
    padding-left: 100%;
    font-family: monospace;
    text-align: center;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    color: #394dcd;
    font-size: 5em;
    font-family: 'Syne-Mono';
    animation: marquee 30s linear infinite;
}

text-marquee2 {
    animation-delay: 5s;
}


.text-init {
    font-size: 1em;
    color: black;
    grid-area: intro;
    margin-top: 100px;
}

#text-green {
    margin-top: 10px;
    font-size: 1em;
    color: black;
    text-justify: inter-word;
    grid-area: bio;
}

.image-full-screen {
    grid-area: image;
}
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 2fr);
    gap: 30px;
    grid-template-areas: 
    "title title" 
    "intro intro"
    "image virus"
    "bio bio";
}

  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }

  